/* src/components/InfoModal/InfoModal.module.css */

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000; /* Por encima de todo */
}

.modalContent {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 350px; /* Tamaño máximo para no verse enorme en PC */
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.modalHeader {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.modalTitle {
  margin: 0;
  font-size: 1.3em;
  color: #333;
  text-transform: uppercase;

}

.modalBody {
  font-size: 1em;
  color: #666;
  line-height: 1.4;
}

.messageText {
  margin: 0;
  text-transform: uppercase;
}

.modalFooter {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}