.muscleGroupsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px; /* Padding horizontal para móviles */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
}

.buttonContainer { /* Nuevo estilo para el contenedor del botón */
  width: 100%;
  max-width: 800px; /* Mismo max-width que el grid para alinear */
  text-align: right; /* Alinea el botón a la izquierda dentro de su contenedor */
  margin-bottom: 20px;
}

.title {
  color: #333;
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 2em;
  text-align: center;
  font-family: verdana;
  text-transform: Uppercase;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 800px;
  padding: 0;
}

@media (min-width: 600px) {
  .cardGrid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
}