html, body {
  box-sizing: border-box; /* Asegura que padding y border no aumenten el ancho total */
}

*, *::before, *::after {
  box-sizing: inherit; /* Hereda box-sizing para todos los elementos */
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f7f6;
  color: #333;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Alinea al inicio para que el contenido fluya hacia abajo */
  padding: 20px;
  box-sizing: border-box;
}